body{
	background-color: #222;
	color: #eee;
	margin-top: 20px;
	font-family: 'Playfair Display', serif;
}

h1{
	font-size: 35px;
	text-align: center;
	margin-bottom: 20px;
}

.thumbnails{
	width: 10%;
	float: left;
	margin: 0 2%;
}

.thumbnailsRight{
width: 10%;
	float: right;
	margin: 0 2%;
}
.thumbnails img{
		border: 4px solid #555;
		width: 100%;
}

.thumbnailsRight img{
		border: 4px solid #555;
		width: 100%;
}

.thumbnails img:hover{
	border: 4px solid red;
}

.thumbnailsRight img:hover{
	border: 4px solid red;
}

.preview{
	text-align: center;
	width: 72%;
	float: left;
	margin: auto;
}

.preview img{
	width: 40%;
	max-width: 100%;
	margin-top: 20%;
}

figcaption, caption{
	text-align: center;
	color: yellow;
}





